<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Nome:", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
  <%= form.label :email, "Email:", style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :phone, "Celular:", style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :cpf, "CPF:", style: "display: block" %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.submit "Criar usuário" %>
  </div>
<% end %>
